// NotoSans-regular
@font-face {
  font-family: 'NotoSans-Regular';
  src: url('../fonts/notosans/NotoSans.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/notosans/NotoSans.woff') format('woff'), 
       url('../fonts/notosans/NotoSans.ttf')  format('truetype'), 
       url('../fonts/notosans/NotoSans.svg#NotoSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Montserrat-bold
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/montserrat/Montserrat-Bold.woff') format('woff'), 
       url('../fonts/montserrat/Montserrat-Bold.ttf')  format('truetype'), 
       url('../fonts/montserrat/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Montserrat-regular

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/montserrat/Montserrat-Regular.woff') format('woff'), 
       url('../fonts/montserrat/Montserrat-Regular.ttf')  format('truetype'), 
       url('../fonts/montserrat/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}